<!DOCTYPE html>
<html lang="en">
<head th:replace="template.html :: header('Sign Up')">
</head>
<body>
    <nav th:replace = "template.html :: nav_account"></nav>
    <h1>Sign Up</h1>
    <h2>Fill your information</h2>
    <form class="row g-3" method="POST" th:object="${user}" >
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Username</label>
          <input type="text" class="form-control" id="inputEmail4" th:field="*{account.username}">
        </div>
        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Password</label>
          <input type="password" class="form-control" id="inputPassword4" th:field="{*account.password}">
        </div>
        <div class="col-12">
          <label for="inputAddress" class="form-label">Phone number</label>
          <input type="number" class="form-control" id="inputAddress" th:field="{*phone}">
        </div>
        <div class="col-12">
          <label for="inputAddress" class="form-label">Address</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" th:field="{*address}">
        </div>

        <div class="col-12">
          <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
      </form>
</body>
</html>